@charset "utf-8";
/*Home Page*/

#home-page-body {
  background-color: #fff;
}

#home-page-body #maincontent {
  display: flex;
  flex-direction: column;
}

#home-page-body #map-container #map-loading {
  height: 50vh;
  line-height: 60vh;
  text-align:center;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: #f8f8f8;
}

#home-page-body #map-container {
  width: 100%;
  order: 1;
}

#home-page-body #search-results-wrapper {
  width: 100%;
  padding-left: 0;
  order: 2;
}

#home-page-body #map-container #map {
  height: 50vh;
}

#home-page-body #search-results-wrapper #restaurants-list {
  padding: 0;
  margin:0;
  list-style: outside none none;
}

#home-page-body #search-results-wrapper #restaurants-list li:first-child {
  margin-top: 0;
}

#home-page-body #search-results-wrapper #restaurants-list li h2 {
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #333;
}

#home-page-body #search-results-wrapper #restaurants-list li p {
 margin: 0;
 font-size: 12pt;
}

#home-page-body #search-results-wrapper #restaurants-list li h2,
#home-page-body #search-results-wrapper #restaurants-list li p {
  padding: 0 10px;
  padding-bottom: 10px;
}

#home-page-body #search-results-wrapper #restaurants-list li a {
  width: calc(100% - 2px);
  margin-left: 1px;
  padding: 10px 0;
  font-size: 12pt;
  background-color: orange;
  outline: 1px solid orange;
  margin-bottom: 3px;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#home-page-body #search-results-wrapper #restaurants-list li a:focus {
  outline: 1px solid #3397DB;
}

#home-page-body .filter-options {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  background-color: #3397DB;
}

#home-page-body .filter-options #neighborhoods-select,
#home-page-body .filter-options #cuisines-select {
  width: 50%;
  height: 35px;
  font-size: 9pt;
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}

#home-page-body #restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}

#home-page-body #restaurant-image-template {
    display: none;
}

/*Restaurant Review Page*/

#review-page-body #restaurant-container {
  padding: 30px;
  width: auto;
}

#review-page-body #restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
}

#review-page-body #restaurant-hours td {
  color: #666;
}

#review-page-body #restaurant-cuisine {
  width: 100%;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#review-page-body #reviews-container {
  padding: 30px;
  width: auto;
}

#review-page-body #reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#review-page-body #reviews-list {
  margin: 0;
  padding: 0;
}

#review-page-body #reviews-list li {
  width: auto;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
}

#review-page-body #reviews-list li > p:nth-child(1),
#review-page-body #reviews-list li > p:nth-child(2),
#review-page-body #reviews-list li > p:nth-child(3){
  font-weight: bold;
}

#review-page-body #reviews-list li > p:nth-child(4) {
  font-size: 12pt;
}

#review-page-body #restaurant-name {
  float: left;
  font-size: 16pt;
  font-weight: 700;
  color: #f18200;
  font-family: Arial,sans-serif;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#review-page-body #favourite-star-wrapper {
  float: right;
}

#review-page-body #favourite-star-wrapper img {
  width: 40px;
  height: auto;
}

#review-page-body #map-container {
    position: inherit;
    width: 100%;
}

#review-page-body #map-container #map {
    height: 35vh;
}

#review-page-body #restaurant-container {
    position: static;
    max-width: 800px;
    margin: 0 auto;
    border: 0;
}

#review-page-body #breadcrumb-container {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: inherit;
    text-align: left;
    border-bottom: 1px solid #fff;
}

#review-page-body #breadcrumb-container #breadcrumb {
    padding: 10px 40px;
    margin-top: 0;
}

#review-page-body #breadcrumb-container #breadcrumb li {
    display: inline;
}

#review-page-body #breadcrumb-container #breadcrumb li a:link,
#review-page-body #breadcrumb-container #breadcrumb li a:visited {
    color: #0275d8;
}

#review-page-body #breadcrumb-container #breadcrumb li a:hover,
#review-page-body #breadcrumb-container #breadcrumb li a:active{
    color: #01447e;
    text-decoration: underline;
}

#review-page-body #breadcrumb li+li:before {
    margin: 8px;
    border-left: 1px solid #000;
    transform: rotate(30deg);
    display: inline-block;
    height: 10px;
    content: " ";
    padding: 2px;
    position: relative;
    top: 11px;
}

#review-page-body #restaurant-img img {
    width: 100%;
}

#review-page-body #footer {
    width: auto;
    position: static;
}

#review-page-body #review-form {
  width: calc(100% - 50px);
  margin: 0 auto;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 20px;
}

#review-page-body #review-form > h3 {
  font-size: 30px;
  text-align: center;
  color: #252831;
}

#review-page-body #review-form > .review-input-wrapper {
  color: #252831;
}

#review-page-body #review-form > .review-input-wrapper > label {
  display: block;
  font-size: 25px;
}

#review-page-body #review-form > .review-input-wrapper > .review-input {
  width: calc(100% - 23px);
  padding: 10px;
  font-size: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#review-page-body #review-form > .review-input-wrapper > #rating-input {
  width: 100%;
}

#review-page-body #review-form > .review-input-wrapper > #review-input {
  min-height: 250px;
  min-width: calc(100% - 22px);
  max-width: calc(100% - 22px);
}

#review-page-body #review-form > button[type='submit'] {
  width: 100%;
  padding: 20px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #252831;
  border: 0;
}

/*Media Queries*/

/*Home Page*/
@media(min-width: 1000px) {
  #home-page-body > header,
  #review-page-body > header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  #home-page-body #restaurants-list .restaurant-img {
    min-width: 99.2%;
    max-width: 99.2%;
    float: right;
  }

  #home-page-body #maincontent {
    display: block;
    margin-top: 80px;
  }

  #home-page-body #maincontent .filter-options {
    position: fixed;
    display: block;
    margin-left: 4px;
  }

  #home-page-body .filter-options #neighborhoods-select,
  #home-page-body .filter-options #cuisines-select {
    width: 202px;
  }

  #home-page-body #map-container {
    width: calc(100% - 448px);
    border-right: 2px solid #ccc;
    height: calc(100% - 80px);
    position: fixed;
  }

  #home-page-body #map-container #map {
    width: 100%;
    height: 100%;
  }

  #home-page-body #map-container #map-loading {
    height: calc(100vh - 80px);
    position:fixed;
    line-height: 100vh;
    text-align: center;
    width: calc(100% - 448px);
  }

  #home-page-body #search-results-wrapper {
    width: 450px;
    float: right;
  }

  #home-page-body #search-results-wrapper #restaurants-list {
    margin-top: 36px;
  }

  #home-page-body #search-results-wrapper #restaurants-list li a {
    width: calc(100% - 7px);
    margin-left: 5px;
  }
}

/*Review Page*/
@media(min-width: 1000px) {
  #review-page-body #breadcrumb-container {
    width: 50%;
    margin-top: 80px;
  }

  #review-page-body #map-container {
    float: right;
    height: calc(100% - 80px);
    width: 50%;
    position: fixed;
    right: 0;
    top: 80px;
  }

  #review-page-body #favourite-star-wrapper {
    margin-right: 30px;
  }

  #review-page-body #map-container #map {
    height: 100%;
  }

  #review-page-body #restaurant-container {
    width: calc(50% - 30px);
    margin: 0;
  }

  #review-page-body #restaurant-img img,
  #review-page-body #restaurant-cuisine {
    width: calc(100% - 30px);
  }

  #review-page-body #reviews-container,
  #review-page-body #footer{
    width: 50%;
    max-width: 50%;
  }

  #review-page-body #reviews-list li {
    width: calc(100% - 90px);
  }

  #review-page-body #review-form {
    width: calc(50% - 60px);
    margin: 0;
    margin-left: 10px;
  }

  #review-page-body #review-form > .review-input-wrapper > .review-input,
  #review-page-body #review-form > .review-input-wrapper > label,
  #review-page-body #review-form button[type='submit'] {
    font-size: 16px;
  }

  #review-page-body #review-form button[type='submit'] {
    padding: 15px;
  }

  #review-page-body #review-form > .review-input-wrapper > #review-input {
    height: 130px;
    min-height: 130px;
  }
}

/*General (both pages)*/
@media(min-width: 1000px) {
    header > nav > h1 > a {
        font-size: 16pt;
    }
}